body {
  
  box-sizing: border-box;
  padding: 0;
  margin: 40px;
  background: #ff9a9a;
  display: flex;
  flex-direction: row;
  flex-direction: center;
  font-family:   'Times New Roman', Times, serif ;
  margin-left: 50px;
}
input {

  text-align: left;
  margin : 20px;
  padding : 20 px;
  height: 48px;
  border: none;
  background: transparent;
  background-color: rgb(243, 225, 225);
  border-radius :4px  4px 4px 4px;
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  outline: none;
  margin-left: 40px;
  
  

}
.btn1 {
  
  margin-right:10px;
  font-weight:bold;
  width: 100px;
  padding : 10 px;
  border-radius :4px  4px 4px 4px;
  cursor: pointer;
  outline : none;
  font-size: 15px;
  height: 54px;
  background-color:#ff4848 !important;
  color: white !important;
  border: none;
  margin-left: -10px;

}
h1 {

  color: rgba(0, 0, 0, 0.87);
  margin-left: 30px;
  font-size: 50px;
  box-sizing: border-box;
  background: transparent;
  font-family: 'Times New Roman', Times, serif ;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-align: left;
}

